<div class="row wrapper border-bottom white-bg page-heading">
  <app-breadcrumb></app-breadcrumb>
  <!-- <div class="col-sm-4">
    <div class="title-action">
      <a routerLink="" class="btn btn-white btn-sm">This is action area</a>
    </div>
  </div> -->
</div>
<div [loading]="isInitialing" class="wrapper wrapper-content">
  <ng-template [ngIf]="!isInitialing">
    <div class="row">
      <div class="col-md-4">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>{{ 'report.users' | translate }}</h5>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-6">
                <h1><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;{{result?.member_count?.internal}}</h1>
                <a [permission]="['users_internal', 'view', true]" [routerLink]="['/users', 'internal']">
                  <span>{{ 'report.user.internal' | translate }}</span>
                </a>
              </div>
              <div class="col-md-6">
                <h1><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp;{{result?.member_count?.external}}</h1>
                <a [permission]="['users_external', 'view', true]" [routerLink]="['/users', 'external']">
                  <span>{{ 'report.user.external' | translate }}</span>
                </a>
              </div>
            </div>
          </div>
          <div class="ibox-content ibox-heading">
            <h3 class="m-n"><i class="fa fa-birthday-cake"></i> {{'report.birthday.this_month' | translate}}</h3>
            <!-- <small>You have 22 new messages and 16 waiting in draft folder.</small> -->
          </div>
          <div class="ibox-content">
            <div class="feed-activity-list">
              <div class="feed-element" *ngFor="let item of result?.birthday?.this_month">
                <a [permission]="['users_' + item.user_type, 'r']" [routerLink]="['/users', item.user_type, item.id]" class="pull-left">
                  <img class="pull-left" alt="image" class="img-circle pull-left" src="{{ item.avatar | image:'user' }}">
                </a>
                <div class="media-body ">
                  <!-- <small class="pull-right">5m ago</small> -->
                  <strong><a [permission]="['users_' + item.user_type, 'r']" [routerLink]="['/users', item.user_type, item.id]">{{item.fullname}}</a></strong><br>
                  <small class="text-muted">
                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;
                    {{item.birthday * 1000 | date:'dd/MM/yyyy'}}
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="ibox-content ibox-heading">
            <h3 class="no-margins"><i class="fa fa-birthday-cake"></i> {{'report.birthday.next_month' | translate}}</h3>
            <!-- <small>You have 22 new messages and 16 waiting in draft folder.</small> -->
          </div>
          <div class="ibox-content">
            <div class="feed-activity-list">
              <div class="feed-element" *ngFor="let item of result?.birthday?.next_month">
                <a [permission]="['users_' + item.user_type, 'r']" [routerLink]="['/users', item.user_type, item.id]" class="pull-left">
                  <img class="pull-left" alt="image" class="img-circle pull-left" src="{{ item.avatar | image:'user' }}">
                </a>
                <div class="media-body ">
                  <!-- <small class="pull-right">5m ago</small> -->
                  <strong><a [permission]="['users_' + item.user_type, 'r']" [routerLink]="['/users', item.user_type, item.id]">{{item.fullname}}</a></strong><br>
                  <small class="text-muted">
                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;
                    {{item.birthday * 1000 | date:'dd/MM/yyyy'}}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>{{ 'report.events' | translate }}</h5>
          </div>
          <div class="ibox-content">
            <div class="timeline-item" *ngFor="let event of result?.events">
              <div class="row">
                  <div class="col-md-3 date">
                      <i class="fa fa-calendar"></i>
                      <span class="text-navy">{{event.start_date * 1000 | date:'dd/MM/yyyy'}}</span>
                      <!-- <br>
                      <small class="text-navy">2 hour ago</small> -->
                  </div>
                  <div class="col-md-9 content no-top-border">
                      <p class="m-b-xs"><strong>{{event.title}}</strong></p>

                      <p>{{event.location}} - {{event.address}}</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
