<div class="row wrapper border-bottom white-bg page-heading">
  <app-breadcrumb></app-breadcrumb>
  <div class="col-sm-4">
    <div class="title-action">
      <a [routerLink]="['/organisation', 'teams']" class="btn btn-white btn-sm btn-list" tooltip="{{ 'team.click_view_list' | translate }}" tooltipPlacement="left">{{ 'team.list' | translate }}</a>
    </div>
  </div>
</div>
<div [loading]="isInit" class="wrapper wrapper-content">
  <ng-template [ngIf]="!isInit">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="form">
          <div class="ibox">
            <div class="ibox-content">
              <div class="row m-t-md form-horizontal">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="name" class="col-md-3 control-label required">{{ 'team.name' | translate }}</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control input-md" name="name" formControlName="name">
                      <span class="help-block">{{ 'team.required' | translate }}</span>
                    </div>
                  </div>
                  <!-- <div class="form-group">
                    <label for="upload" class="col-md-3 control-label">{{ 'team.avatar' | translate }}</label>
                    <div class="col-md-8">
                      <p-fileUpload name="demo[]" url="./upload.php"
                                    (onUpload)="onUpload($event)" 
                                    multiple="multiple" 
                                    accept="image/*" 
                                    maxFileSize="1000000">
                        <ng-template pTemplate type="content">
                          <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                          </ul>
                        </ng-template>        
                      </p-fileUpload>
                    </div>
                  </div> -->
                  <div class="form-group">
                    <label for="name" class="col-md-3 control-label required">{{ 'team.manager' | translate }}</label>
                    <div class="col-md-8">
                      <ng-select [items]="metadata.employees"
                                 [active]="metadata.selectedItem.manager"
                                 (selected)="setManager($event)"
                                 placeholder="{{ 'team.select_emp' | translate }}">
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="manager_id"
                           class="col-md-3 control-label"
                           tooltip="{{ 'team.team_assistant' | translate }}" 
                           tooltipPlacement="right">
                      {{ 'team.team_officer' | translate }}
                    </label>
                    <div class="col-md-8">
                      <template [ngIf]="form.controls.officers">
                        <template ngFor let-group [ngForOf]="form.controls.officers.controls" let-i="index" let-last="last">
                          <div [ngClass]="{'has-error': group.controls.user_id.hasError('digits'), 'm-t-xs': i > 0}">
                            <div class="input-group m-b-xxs">
                              <ng-select [active]="metadata.officerForView[i]"
                                [items]="metadata.employees"
                                [disabled]="disabled"
                                (selected)="setOfficerId($event, i)"
                                placeholder="{{ 'team.select_emp' | translate }}">
                              </ng-select>
                              <span class="input-group-btn">
                                <button class="btn btn-white" type="button"
                                  tooltip="{{ 'team.officer_remove' | translate }}" tooltipPlacement="left"
                                  (click)="removeOfficer(i)">
                                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                                <button *ngIf="last" class="btn btn-white" type="button"
                                  tooltip="{{ 'team.new_person' | translate }}" tooltipPlacement="left"
                                  (click)="addOfficer()">
                                  <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                              </span>
                            </div>
                            <span class="form-error-msg">
                              {{ 'team.unable_to_select' | translate }}
                            </span>
                          </div>
                        </template>
                        <button *ngIf="!form.controls.officers.length" 
                                class="btn btn-white" type="button"
                                tooltip="{{ 'team.new_person' | translate }}"
                                tooltipPlacement="left"
                                (click)="addOfficer()">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </template>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-12 text-right">
                  <div class="form-group">
                    <label for="name" class="col-md-2 control-label">{{ 'team.folder' | translate }}</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control input-md" name="url" formControlName="url">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="decription" class="col-md-2 control-label">{{ 'team.description' | translate }}</label>
                    <div class="col-md-10">
                      <ckeditor
                        formControlName="description"
                        name="description"
                        [config]="{uiColor: '#eeeeee', toolbar: 'Basic'}">
                      </ckeditor>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="widget-action-bottom">
      <div class="row">
        <div class="col-md-9 m-l-xl text-right">
          <button type="button" class="btn btn-default btn-reset">{{ 'action.reset' | translate }}</button>
          <button type="submit"
            class="btn btn-primary btn-submit"
            name="submit"
            [disabled]="!form.valid || isProcessing">
            {{ 'action.submit' | translate }}
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
