<div class="row wrapper border-bottom white-bg page-heading">
  <app-breadcrumb [itemName]="detail?.name"></app-breadcrumb>
  <div class="col-sm-4">
    <div class="title-action">
      <a [routerLink]="['/groups', detail.id, 'update']" class="btn btn-white btn-sm btn-edit">
        {{ 'nav.groups.update' | translate }}
      </a>
      <a [routerLink]="['/groups']" class="btn btn-white btn-sm btn-list">{{ 'nav.groups.list' | translate }}</a>
    </div>
  </div>
</div>
<div [loading]="isInit" class="wrapper wrapper-content page-detail">
  <ng-template [ngIf]="!isInit">
  	<div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-content main-content">
            <div class="m-b">
              <h2 class="m-b-xs">{{ detail?.name }}</h2>
              <div class="m-b">
                {{ detail?.description }}
              </div>
              <button type="button" class="btn btn-default btn-sm  btn-add" (click)="showBox()" name="button">{{ 'group.click_add_members' | translate }}</button>
            </div>
            <div class="m-b">
              <ng-template [ngIf]="hasUsers">
              <h2 class="m-b-xs">{{ 'group.users' | translate }}</h2>
              <p-dataTable #table
                           [value]="users"
                           [rows]="10"
                           [paginator]="true"
                           [editable]="true"
                           [globalFilter]="search"
                           (onFilter)="onFilter()"
                           [(selection)]="selectedItems"
                           scrollable="true"
                           sortMode="multiple">
                <p-column styleClass="col-cb" selectionMode="multiple"></p-column>
                <p-column styleClass="col-img" field="avatar" header="">
                  <ng-template let-col let-item="rowData" pTemplate="body">
                    <a [routerLink]="['/users', item.id]">
                      <img alt="image" class="img-circle avatar-sm" src="{{ item?.avatar?.file | image:'user':item?.avatar?.dir }}">
                    </a>
                  </ng-template>
                </p-column>
                <p-column field="fullname" header="{{'user.fullname' | translate}}" [sortable]="true" filter="true" filterMatchMode="contains">
                  <ng-template let-col let-item="rowData" pTemplate="body">
                    <a class="item-name" [routerLink]="['/users', item?.is_internal == 1 ? 'internal' : 'external', item.id]">
                      {{item.fullname}}
                    </a>
                  </ng-template>
                </p-column>
                <!-- <p-column field="is_internal" header="{{'user.internal' | translate}}" [sortable]="true" filter="true" filterMatchMode="contains">
                  <ng-template let-col let-item="rowData" pTemplate="body">
                    <div *ngIf="item.is_internal == 1" class="text-success text-center"><i class="fa fa-check" aria-hidden="true"></i></div>
                  </ng-template>
                </p-column> -->
                <p-column field="code" header="{{'user.code' | translate}}" filter="true" filterMatchMode="contains"></p-column>
                <!-- <p-column field="phone" header="{{'user.phone' | translate}}" filter="true" filterMatchMode="contains"></p-column>
                <p-column field="email" header="{{'user.email' | translate}}" filter="true" filterMatchMode="contains"></p-column>
                <p-column field="barcode" header="{{'user.barcode' | translate}}" filter="true" filterMatchMode="contains"></p-column> -->
                <p-column *ngFor="let col of cols" styleClass="{{col.field}}" [field]="col.field" [header]="col.header" [filter]="true" filterMatchMode="contains" [sortable]="true">
                  <ng-template [ngIf]="col.field === 'facebook'">
                    <ng-template let-item="rowData" pTemplate="body">
                      <a href="{{item?.facebook}}" target="_blank">{{item?.facebook}}</a>
                    </ng-template>
                  </ng-template>
                  <ng-template [ngIf]="col.field === 'job'">
                    <!-- <ng-template pTemplate="filter" let-col>
                      <p-dropdown [options]="( metadata.jobs | dropdown:'name' )"
                      [style]="{'width':'100%'}"
                      (onChange)="table.filter($event.value,col.field,col.filterMatchMode)"
                      styleClass="ui-column-filter">
                    </p-dropdown>
                  </ng-template> -->
                  <!-- <ng-template let-item="rowData" pTemplate="body">
                    {{item?.job?.name}}
                  </ng-template> -->
                </ng-template>
                <ng-template [ngIf]="col.field === 'province'">
                  <!-- <ng-template pTemplate="filter" let-col>
                    <p-dropdown [options]="( metadata.provinces | dropdown:'name' )"
                    [style]="{'width':'100%'}"
                    (onChange)="table.filter($event.value,col.field,col.filterMatchMode)"
                    styleClass="ui-column-filter">
                  </p-dropdown>
                </ng-template> -->
                <!-- <ng-template let-item="rowData" pTemplate="body">
                  {{item?.province?.name}}
                </ng-template> -->
              </ng-template>
              <ng-template [ngIf]="col.field === 'district'">
                <!-- <ng-template pTemplate="filter" let-col>
                  <p-dropdown [options]="( metadata.districts | dropdown:'name' )"
                  [style]="{'width':'100%'}"
                  (onChange)="table.filter($event.value,col.field,col.filterMatchMode)"
                  styleClass="ui-column-filter">
                </p-dropdown>
              </ng-template> -->
              <!-- <ng-template let-item="rowData" pTemplate="body">
                {{item?.district?.name}}
              </ng-template> -->
            </ng-template>
              </p-column>
              </p-dataTable>
              <button style="margin-top: -60px; position: relative;" [disabled]="!selectedItems.length" type="button" class="btn btn-default btn-sm btn-add" (click)="addToGroup()" name="button">{{ 'group.add_members' | translate }}</button>
              </ng-template>
            </div>
            <div class="hr-line-dashed"></div>
            <h2 class="m-b">{{ 'group.members' | translate }}</h2>
            <p-dataTable #table
                         [value]="detail?.users"
                         [rows]="20"
                         [paginator]="true"
                         [editable]="true"
                         [globalFilter]="search"
                         [(selection)]="selectedItems"
                         scrollable="true"
                         sortMode="multiple">
              <!-- <p-column styleClass="col-sysid" field="id" header="{{ 'sysid' | translate }}" [sortable]="true">
                <ng-template let-col let-item="rowData" pTemplate="body">
                  <a [routerLink]="['/users', item.id]">{{item.id}}</a>
                </ng-template>
              </p-column> -->
              <p-column styleClass="col-img" field="avatar" header="">
                <ng-template let-col let-item="rowData" pTemplate="body">
                  <a [routerLink]="['/users', item.id]">
                    <img alt="image" class="img-circle avatar-sm" src="{{ item?.avatar?.file | image:'user':item?.avatar?.dir }}">
                  </a>
                </ng-template>
              </p-column>
              <p-column field="fullname" header="{{'user.fullname' | translate}}" [sortable]="true">
                <ng-template let-col let-item="rowData" pTemplate="body">
                  <a class="item-name" [routerLink]="['/users', item?.is_internal == 1 ? 'internal' : 'external', item.id]">
                    {{item.fullname}}
                  </a>
                </ng-template>
              </p-column>
              <p-column field="code" header="{{'user.code' | translate}}"></p-column>
              <p-column field="phone" header="{{'user.phone' | translate}}"></p-column>
              <p-column field="email" header="{{'user.email' | translate}}"></p-column>
              <p-column field="barcode" header="{{'user.barcode' | translate}}"></p-column>
              <p-column field="id" styleClass="col-md-1 col-action text-right" header="{{ 'user.action' | translate }}">
                <ng-template let-col let-item="rowData" pTemplate="body">
                  <button (click)="delete(item[col.field])" class="delete"></button>
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4 col-right" style="width: 30%">
        <div class="section-top">
          <h2 class="m-t-sm m-b-xs">{{detail.title}}</h2>
        </div>
        <div class="section-bottom  no-bg">
          <div class="m-l-sm">
            <div class="row m-b-sm">
              <label class="col-md-1"><i class="fa fa-user-secret"></i></label>
              <div class="col-md-10 m-l-xs no-padding">
                <span [emptyData]="detail.organizer">{{detail.organizer}}</span>
              </div>
            </div>
            <div class="row m-b-sm">
              <label class="col-md-1"><i class="fa fa-calendar"></i></label>
              <div class="col-md-10 m-l-xs no-padding">
                <span [emptyData]="detail.start_date">{{detail.start_date}}</span>
                &nbsp;-&nbsp;
                <span [emptyData]="detail.end_date">{{detail.end_date}}</span>
              </div>
            </div>
            <div class="row m-b-sm">
              <label class="col-md-1"><i class="fa fa-location-arrow"></i></label>
              <div class="col-md-10 m-l-xs no-padding">
                <span [emptyData]="detail.location">{{detail.location}}</span>
              </div>
            </div>
            <div class="row m-b-sm">
              <label class="col-md-1"><i class="fa fa-map-marker"></i></label>
              <div class="col-md-10 m-l-xs no-padding">
                <span [emptyData]="detail.address">{{detail.address}}</span>
              </div>
            </div>
            <div class="row">
              {{detail.description}}
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </ng-template>
</div>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
