<div class="row wrapper border-bottom white-bg page-heading">
  <app-breadcrumb [itemName]="'Web Front End'"></app-breadcrumb>
  <div class="col-sm-4">
    <div class="title-action">
      <button class="btn btn-sm btn-default">{{ 'position.action.add' | translate }}</button>
    </div>
  </div>
</div>
<div [loading]="isInitializing" class="wrapper wrapper-content position">
  <ng-template [ngIf]="!isInitializing">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-4 m-b">
                <input #search type="text" pInputText placeholder="{{ 'position.filter.by_name' | translate }}" class="form-control">
              </div>
            </div>
            <p-dataTable #table
                         [value]="positions"
                         [rows]="50"
                         [paginator]="true"
                         [editable]="true"
                         [globalFilter]="search"
                         [(selection)]="selectedItems"
                         (onRowSelect)="selected($event)"
                         scrollable="true"
                         sortMode="multiple">
              <p-column styleClass="col-cb" selectionMode="multiple"></p-column>
              <p-column styleClass="col-sysid" field="id" header="{{ 'position.sysid' | translate }}" [sortable]="true">
                <ng-template let-col let-position="rowData" pTemplate="body">
                  <a [routerLink]="['']">{{position.id}}</a>
                </ng-template>
              </p-column>
              <p-column field="long_name" header="{{ 'position.long_name' | translate }}" styleClass="" [sortable]="true">
              </p-column>
              <p-column field="short_name" header="{{ 'position.sort_name' | translate }}">
              </p-column>
              <p-column field="next_position" header="{{ 'position.next_position' | translate }}">
                <ng-template let-col let-position="rowData" pTemplate="body">
                  <span *ngIf="position?.next_position">{{position.next_position.long_name}}</span>
                </ng-template>
              </p-column>
              <p-column field="previous_positions" header="{{ 'position.previous_position' | translate }}">
                <ng-template let-col let-position="rowData" pTemplate="body">
                  <ng-template ngFor let-item [ngForOf]="position[col.field]" let-i="index" let-last = "last">
                    <span>{{item.long_name}}<span *ngIf="!last">,&nbsp;</span></span>
                  </ng-template>
                </ng-template>
              </p-column>
              <p-column field="id" styleClass="col-md-1 col-action text-right" header="{{ 'position.action.title' | translate }}">
                <ng-template let-col let-position="rowData" pTemplate="body">
                  <a [routerLink]="['/positions', position[col.field], 'update']" class="update"></a><button (click)="delete(position[col.field])" class="delete"></button>
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
    <div class="widget-action-bottom">
      <div class="row">
        <div class="col-md-5">
          <div class="btn-group btn-group-custom dropup">
            <button [disabled]="!selectedItems.length" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              {{'position.selected_item' | translate:{'value': selectedItems.length} }}
            </button>
            <ul class="dropdown-menu box-delete">
              <li>{{'position.confirm_delete' | translate:{'value': selectedItems.length} }}</li>
              <li class="text-right m-t">
                <button class="btn btn-default btn-sm">{{ 'action.cancel' | translate }}</button>
                <button class="btn btn-default btn-sm">{{ 'action.delete' | translate }}</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
