<div class="row wrapper border-bottom white-bg page-heading">
  <app-breadcrumb></app-breadcrumb>
  <div class="col-sm-4">
    <div class="title-action">
      <a class="btn btn-sm btn-default" [routerLink]="['/users', userType, 'new']">{{ 'nav.users.' + userType + '.new' | translate }}</a>
    </div>
  </div>
</div>
<div [loading]="isInit" class="wrapper wrapper-content page-user">
  <ng-template [ngIf]="!isInit">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-content">
            <div class="row m-b">
              <div class="col-md-2">
                <p-multiSelect [options]="columnOptions" [(ngModel)]="cols">
                  <ng-template let-car let-i="index" pTemplate="item">
                      {{i}}
                      <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;display:inline-block;vertical-align:middle"/>
                      <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                  </ng-template>
                </p-multiSelect>
                <input #search type="text" pInputText placeholder="{{ 'user.filter_by_name' | translate }}" class="form-control hidden">
              </div>
              <div class="col-md-10 text-right">
                <button type="button" class="btn btn-default btn-sm btn-reset" (click)="table.reset()">{{ 'reset_all' | translate }}</button>
                <button type="button" class="btn btn-default btn-sm btn-export" (click)="table.exportCSV()">{{ 'export.user' | translate }}</button>
              </div>
            </div>
            <div class="table-responsive">
              <p-dataTable #table
              [value]="result"
              [rows]="20"
              [paginator]="true"
              [editable]="true"
              [globalFilter]="search"
              [(selection)]="selectedItems"
              scrollable="true"
              responsive="true"
              sortMode="multiple">
              <!-- <p-column styleClass="col-cb" selectionMode="multiple"></p-column> -->
              <!-- <p-column styleClass="col-sysid" field="id" header="{{ 'sysid' | translate }}" [sortable]="true">
              <ng-template let-col let-item="rowData" pTemplate="body">
              <a [routerLink]="['/users', userType, item.id]">{{item.id}}</a>
            </ng-template>
          </p-column> -->
          <p-column styleClass="col-img" field="avatar" header="">
            <ng-template let-col let-item="rowData" pTemplate="body">
              <a [routerLink]="['/users', userType, item.id]">
                <img alt="image" class="img-circle avatar-sm" src="{{ item?.avatar?.file | image:'user':item?.avatar?.dir }}">
              </a>
            </ng-template>
          </p-column>
          <ng-template [ngIf]="userType === 'internal'">
            <p-column field="nickname" header="{{'user.nickname' | translate}}" [filter]="true" [sortable]="true" filterMatchMode="contains">
              <ng-template let-col let-item="rowData" pTemplate="body">
                <a [routerLink]="['/users', userType, item.id]">
                  {{item.nickname}}
                </a>
              </ng-template>
            </p-column>
          </ng-template>
          <p-column field="fullname" header="{{'user.fullname' | translate}}" [filter]="true" [sortable]="true" filterMatchMode="contains">
            <ng-template let-col let-item="rowData" pTemplate="body">
              <a class="item-name" [routerLink]="['/users', userType, item.id]">
                {{item.fullname}}
              </a>
            </ng-template>
          </p-column>
          <ng-template [ngIf]="userType === 'external'">
            <p-column field="nickname" header="{{'user.nickname' | translate}}" [filter]="true" [sortable]="true" filterMatchMode="contains">
              <ng-template let-col let-item="rowData" pTemplate="body">
                <a [routerLink]="['/users', userType, item.id]">
                  {{item.nickname}}
                </a>
              </ng-template>
            </p-column>
          </ng-template>
          <p-column field="code" header="{{'user.code' | translate}}" [filter]="true" filterMatchMode="contains" [sortable]="true"></p-column>
          <!-- <p-column field="barcode" header="{{'user.barcode' | translate}}" [filter]="true" [sortable]="true"></p-column>
          <p-column field="phone" header="{{'user.phone' | translate}}" [filter]="true" [sortable]="true"></p-column>
          <p-column field="email" header="{{'user.email' | translate}}" [filter]="true" [sortable]="true"></p-column> -->
          <p-column *ngFor="let col of cols" styleClass="{{col.field}}" [field]="col.field" [header]="( 'user.' + col.field | translate )" [filter]="true" filterMatchMode="contains" [sortable]="true">
            <ng-template [ngIf]="col.field === 'facebook'">
              <ng-template let-item="rowData" pTemplate="body">
                <a href="{{item?.facebook}}" target="_blank">{{item?.facebook}}</a>
              </ng-template>
            </ng-template>
            <ng-template [ngIf]="col.field === 'job'">
              <!-- <ng-template pTemplate="filter" let-col>
                <p-dropdown [options]="( metadata.jobs | dropdown:'name' )"
                [style]="{'width':'100%'}"
                (onChange)="table.filter($event.value,col.field,col.filterMatchMode)"
                styleClass="ui-column-filter">
              </p-dropdown>
            </ng-template> -->
            <!-- <ng-template let-item="rowData" pTemplate="body">
              {{item?.job?.name}}
            </ng-template> -->
          </ng-template>
          <ng-template [ngIf]="col.field === 'province'">
            <!-- <ng-template pTemplate="filter" let-col>
              <p-dropdown [options]="( metadata.provinces | dropdown:'name' )"
              [style]="{'width':'100%'}"
              (onChange)="table.filter($event.value,col.field,col.filterMatchMode)"
              styleClass="ui-column-filter">
            </p-dropdown>
          </ng-template> -->
          <!-- <ng-template let-item="rowData" pTemplate="body">
            {{item?.province?.name}}
          </ng-template> -->
        </ng-template>
        <ng-template [ngIf]="col.field === 'district'">
          <!-- <ng-template pTemplate="filter" let-col>
            <p-dropdown [options]="( metadata.districts | dropdown:'name' )"
            [style]="{'width':'100%'}"
            (onChange)="table.filter($event.value,col.field,col.filterMatchMode)"
            styleClass="ui-column-filter">
          </p-dropdown>
        </ng-template> -->
        <!-- <ng-template let-item="rowData" pTemplate="body">
          {{item?.district?.name}}
        </ng-template> -->
      </ng-template>
        </p-column>
        <p-column field="id" styleClass="col-md-1 col-action text-right" header="{{ 'user.action' | translate }}">
          <ng-template let-col let-item="rowData" pTemplate="body">
            <a [routerLink]="['/users', userType, item[col.field], 'update']" class="update"></a><button (click)="delete(item[col.field])" class="delete"></button>
          </ng-template>
        </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="widget-action-bottom">
      <div class="row">
        <div class="col-md-5">
          <div class="btn-group btn-group-custom dropup">
            <button [disabled]="!selectedItems.length" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              {{'user.selected_item' | translate:{'value': selectedItems.length} }}
            </button>
            <ul class="dropdown-menu box-delete">
              <li>{{'user.confirm_delete' | translate:{'value': selectedItems.length} }}</li>
              <li class="text-right m-t">
                <button class="btn btn-default btn-sm">{{ 'action.cancel' | translate }}</button>
                <button class="btn btn-default btn-sm">{{ 'action.delete' | translate }}</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
  </ng-template>
</div>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
