<div class="row wrapper border-bottom white-bg page-heading">
  <app-breadcrumb [itemName]="detail?.name"></app-breadcrumb>
  <div class="col-sm-4">
    <div class="title-action">
      <a [routerLink]="['/organisation', 'teams', detail.id, 'update']" class="btn btn-white btn-sm btn-edit">
        {{ 'team.edit' | translate }}
      </a>
      <a [routerLink]="['/organisation', 'teams']" class="btn btn-white btn-sm btn-list">{{ 'team.list' | translate }}</a>
    </div>
  </div>
</div>
<div [loading]="isInit" class="wrapper wrapper-content page-detail team-detail-comp">
  <ng-template [ngIf]="!isInit">
  	<div class="row">
      <div class="col-md-9 col-left">
        <div class="ibox">
          <div class="ibox-content main-content">
            <p-dataTable #table
                         [value]="detail.users"
                         [rows]="50"
                         [editable]="true"
                         scrollable="true"
                         sortMode="multiple">
              <p-column field="img" styleClass="col-img">
                <ng-template let-col let-item="rowData" pTemplate="body">
                  <a class="item-name" [routerLink]="['/organisation', 'employees', item.id]">
                    <img class="img-circle avatar-sm" src="{{ item.avatar_url | image:'user' }}" alt="avatar">
                  </a>
                </ng-template>
              </p-column>
              <p-column field="text" header="{{ 'team.employee' | translate }}" [sortable]="true">
                <ng-template let-col let-item="rowData" pTemplate="body">
                  <a class="item-name" [routerLink]="['/organisation', 'employees', item.id]">
                    <strong>{{ item.text }}</strong>
                  </a>
                  <br>
                  <small class="m-t-xxs">{{ 'team.emp_code' | translate }}: {{item.code}}</small>
                </ng-template>
              </p-column>
              <p-column styleClass="col-sysid" field="position" header="{{ 'team.position' | translate }}"></p-column>
              <p-column field="joined_date" header="{{ 'team.join_date' | translate }}" [sortable]="true">
                <ng-template let-col let-item="rowData" pTemplate="body">
                  <span>{{item.joined_date | date: "MMM dd, yyyy"}}</span>
                </ng-template>
              </p-column>
              <p-column field="employee_type" header="{{ 'team.emp_type' | translate }}">
                <ng-template let-col let-item="rowData" pTemplate="body">
                  <span>{{item.employee_type}}</span><br>
                  <small *ngIf="item.probation && (item.employee_type === 'Employee')" class="text-info">- On probation</small>
                </ng-template>
              </p-column>
              <p-column styleClass="col-email col-inline" field="mail" header="{{ 'team.email' | translate }}"></p-column>
              <p-column field="total_percent" header="{{ 'team.alloc' | translate }}" styleClass="text-right">
                <ng-template let-col let-item="rowData" pTemplate="body">
                  <span>{{item.total_percent}}%</span>
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-right">
        <div class="section-top">
          <img src="{{ detail.avatar_url | image:'team' }}" class="img-circle text-center" alt="avatar">
          <h2 class="m-t-sm m-b-xs">{{detail.name}}</h2>
        </div>
        <div class="section-bottom">
          <dl class="dl-horizontal m-b-sm small">
            <dt>{{ 'team.manager' | translate }}:</dt>
              <dd>
                <a [routerLink]="['/organisation', 'employees', detail.manager.id]">
                  <span>{{detail.manager.text}}</span>
                </a>
              </dd>
            <dt>{{ 'team.officer' | translate }}:</dt>
              <dd>
                <template ngFor let-officer [ngForOf]="detail.officers" let-i="index" let-last="last">
                  <a [routerLink]="['/organisation', 'employees', officer.id]">
                    <span>{{officer?.text}}</span>
                  </a>
                  <template [ngIf]="!last">,&nbsp;</template>
                </template>
              </dd>
          </dl>
          <div class="small">
            <div [emptyData]="detail?.description" innerHTML="{{detail.description}}"></div>
            <div *ngIf="detail.url" class="m-t-sm">
              <a href="{{detail.url}}" target="_blank" class="btn btn-sm btn-white btn-block">
                <i class="fa fa-folder-open-o" aria-hidden="true"></i><span>{{ 'team.url' | translate }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
